---

apiVersion: v1
kind: ConfigMap
data:
  proxy: >
    proxy_pass http://openzaak:8000;
    proxy_set_header Host $host;
  default.conf: >
    server {
        listen       80;
        server_name  {{ domain }};

        location / {
            include conf.d/proxy;

            location /documenten/api/v1/enkelvoudiginformatieobjecten {
                client_max_body_size 4294967296;
                include conf.d/proxy;
            }
        }

        location /private-media {
            internal;
            alias /app/private-media;
        }

        error_page  404              /404.html;
        error_page  413              /413.json;
        error_page   500 502 503 504  /500.json;
    }
