kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/instance: "{{ openzaak_instance }}"
    app.kubernetes.io/version: "5.0"
    app.kubernetes.io/component: cache
    app.kubernetes.io/part-of: open-zaak
    app.kubernetes.io/managed-by: Ansible
spec:
  # single replica because objects are kept in memory
  # TODO: share cache/storage?
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: redis
      app.kubernetes.io/instance: "{{ openzaak_instance }}"
      app.kubernetes.io/part-of: open-zaak
  template:
    metadata:
      name: cache
      labels:
        app.kubernetes.io/name: redis
        app.kubernetes.io/instance: "{{ openzaak_instance }}"
        app.kubernetes.io/version: "5.0"
        app.kubernetes.io/component: cache
        app.kubernetes.io/part-of: open-zaak
        app.kubernetes.io/managed-by: Ansible
    spec:
      containers:
      - name: cache
        image: redis:5.0

        resources:
          requests:
            memory: "100Mi"
            cpu: "100m"
          limits:
            memory: "200Mi"
            cpu: "250m"

        readinessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 5
          periodSeconds: 10

        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 15
          periodSeconds: 20
