{
   "comments":false,
   "compact":true,
   "presets":[
      "@babel/preset-env",
      "@babel/react",
   ],
    "plugins": [
        ["prismjs", {
        "languages": ["toml"],
        "plugins": ["line-numbers"],
        "theme": "twilight",
        "css": false
    }]
    ]
}
