/* Added to clean up the django-admin-tools look & feel with more recent versions of the Django admin */

#branding {
    float: none;
}

#user-tools {
    font-size: 11px;
    padding: 1.2em 10px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}