/* Colors */
/* Overrides */
a:link, a:visited {
  color: #447e9b;
}

a:focus, a:hover {
  color: #036;
}

#header {
  color: #ffc;
  background: #417690;
  /* border-bottom: 8px solid $color_secondary; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100000;
}

#header a:link, #header a:visited {
  color: #fff;
}

#user-tools a {
  border-bottom: none;
  text-decoration: underline;
}

#user-tools a:focus, #user-tools a:hover {
  color: #79aec8;
}

.module h2, .module caption, .inline-group h2 {
  background: #79aec8;
}

#branding h1 {
  color: #f5dd5d;
}

#branding h1 a:link, #branding h1 a:visited {
  color: #f5dd5d;
}

div.breadcrumbs {
  background: #79aec8;
  color: #c4dce8;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 100000;
}

div.breadcrumbs a {
  color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
  color: #fff;
}

/* Important is used because Django templates include their own style, after ours */
#changelist-filter a:focus, #changelist-filter a:hover {
  color: #447e9b !important;
}

#changelist-filter li.selected a {
  color: #447e9b !important;
}

#changelist-filter li.selected a:focus, #changelist-filter li.selected a:hover {
  color: #79aec8 !important;
}

.object-tools a:focus, .object-tools a:hover {
  background-color: #333;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #79aec8;
  color: #fff;
  /* border: 2px solid $color_dark; */
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
  background: #417690;
}

.button.default, input[type=submit].default, .submit-row input.default {
  background: #417690;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
  background: #000;
}

.delete-confirmation form .cancel-link {
  background: #c4dce8;
  color: #fff;
}

.delete-confirmation form .cancel-link:active, .delete-confirmation form .cancel-link:focus, .delete-confirmation form .cancel-link:hover {
  background: #333;
}
