---

kind: Service
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: inway
    app.kubernetes.io/component: inway
    app.kubernetes.io/part-of: nlx
    app.kubernetes.io/managed-by: Ansible
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: inway
    app.kubernetes.io/part-of: nlx
  ports:
  - name: https
    protocol: TCP
    port: 443
    targetPort: 8443
