---

# Set up the required deployments

# TODO: https://rancher.com/blog/2019/deploying-redis-cluster/

- name: Set up Redis cache
  k8s:
    state: present
    name: cache
    namespace: "{{ opennotificaties_namespace }}"
    definition: "{{ lookup('template', 'redis.yml.j2') | from_yaml }}"
    validate:
      fail_on_error: yes
      strict: yes

- name: Set up RabbitMQ
  k8s:
    state: present
    name: rabbitmq
    namespace: "{{ opennotificaties_namespace }}"
    definition: "{{ lookup('template', 'rabbitmq.yml.j2') | from_yaml }}"
    validate:
      fail_on_error: yes
      strict: yes

- name: Set up Open Notificaties
  k8s:
    state: present
    name: opennotificaties
    namespace: "{{ opennotificaties_namespace }}"
    definition: "{{ lookup('template', 'deployment.yml.j2') | from_yaml }}"
    validate:
      fail_on_error: yes
      strict: yes

- name: Set up Open Notificaties Celery
  k8s:
    state: present
    name: opennotificaties-worker
    namespace: "{{ opennotificaties_namespace }}"
    definition: "{{ lookup('template', 'celery.yml.j2') | from_yaml }}"
    validate:
      fail_on_error: yes
      strict: yes
