{% extends "master.html" %}
{% load i18n %}

{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Service configuratie: {{ wizard.steps.current| upper }}</h1>
    <p class="lead">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
</div>

<div class="container">
    {% load i18n %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.form.media }}
        {{ wizard.management_form }}

        <fieldset>
            {% block fields %}
                {{ wizard.form.as_p }}
            {% endblock %}
        </fieldset>

        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input class="btn btn-sm btn-success" type="submit" name="submit" value="{% trans "submit" %}" />
    </form>

</div>

{% endblock %}
