{% extends "master.html" %}
{% load i18n sniplates static %}

{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Service configuratie: External Services</h1>
    <p class="lead">Step 2 of 2</p>
</div>

<div class="container">
    {{ formdata|json_script:"formdata" }}
    {{ auth_types|json_script:"auth-type-choices" }}
{#    {{ nlx_choices|json_script:"nlx-choices" }}#}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div id="react-external-services">
            {# empty on purpose - react managed #}
        </div>

        {% load_widgets form='snippets/forms.html' %}

        {{ formset.management_form }}
        {{ formset.non_form_errors }}

        <div class="form-group row text-center">
            <div class="col"><strong>Label</strong></div>
            <div class="col"><strong>API type</strong></div>
            <div class="col-sm-3"><strong>Url</strong></div>
            <div class="col"><strong>NLX</strong></div>
            <div class="col"><strong>Authorization</strong></div>
        </div>

        {% for form in formset %}
            {{ form.non_field_errors }}
            {{ form.id }}

            <div class="row">
                <div class="form-group col">{% form_field form.label %}</div>
                <div class="form-group col">{% form_field form.api_type %}</div>
                <div class="form-group col-sm-3">{% form_field form.api_root widget='form:URLInput' %}</div>
                <div class="form-group col">{% form_field form.nlx %}</div>
                <div class="form-group col">{% form_field form.auth_type %}</div>
            </div>

        {% endfor %}


        <div class="btn-toolbar justify-content-between py-sm-3">
            <a class="btn btn-danger" href="{% url 'config-detail' %}">{% trans "cancel" %}</a>
            <input class="btn btn-success" type="submit" name="submit" value="{% trans "submit" %}" />
        </div>
    </form>

</div>
{% endblock %}


{% block extra_scripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
