{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row submit-row-extended">

        {% block extra_submit_buttons %}
            {# Only Catalogus.ZaakType, Catalogus.InformatieObjectType and Catalogus.BesluitType have this concept-attribute #}
            {% with concept=original.concept %}
                {% if concept == True or concept == False %}
                    <span>of <strong>Opslaan</strong> en ...</span>

                    <input type="submit" value="{% trans 'Publiceren' %}" name="_publish" {% if concept == False %}disabled="disabled"{% endif %}>
                {% endif %}
            {% endwith %}
        {% endblock %}

    </div>
{% endblock %}
