---

# Runtime secrets. Values are base64 encoded

kind: Secret
apiVersion: v1
type: Opaque
data:
  SECRET_KEY: {{ openzaak_secret_key | b64encode }}
  DB_PASSWORD: {{ openzaak_db_password | b64encode }}
{% if openzaak_sentry_dsn %}  SENTRY_DSN: {{ openzaak_sentry_dsn | b64encode }}{% endif %}
