---

- name: Deploy the Open Zaak apps in the cluster
  hosts: localhost

  vars_files:
    - vars/db_credentials.yml
    - vars/open-zaak.yml
    - vars/open-notificaties.yml

  collections:
    - openzaak.deploy

  roles:
    - role: open_zaak_k8s
      vars:  # these override vars_files
        openzaak_version: openzaak_version: '1.7.2'
        openzaak_db_host: "{{ db.privateIp }}"
        openzaak_db_port: "{{ db.port }}"
      tags:
        - openzaak

    - role: open_notificaties_k8s
      vars:
        opennotificaties_version: '1.1.4'
        opennotificaties_db_host: "{{ db.privateIp }}"
        opennotificaties_db_port: "{{ db.port }}"
        opennotificaties_rabbitmq_resource_limits:
          memory: "500Mi"
          cpu: "250m"
      tags:
        - opennotificaties
