{% extends "admin/change_list.html" %}

{% load i18n admin_urls %}

{% block object-tools-items %}
  {% comment %} {% if has_add_permission %}
  {<li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li
  {% endif %} {% endcomment %}
  {{ block.super }}
    {% if cl.opts.verbose_name == "catalogus" %}
        <li>
            {% url 'admin:catalogi_catalogus_import' as import %}
                <a href="{% add_preserved_filters import is_popup to_field %}" class="addlink">
                {% trans "Import Catalogus" %}
                </a>
        </li>
    {% endif %}
{% endblock %}

