---

# Runtime secrets. Values are base64 encoded

kind: Secret
apiVersion: v1
type: Opaque
data:
  SECRET_KEY: {{ opennotificaties_secret_key | b64encode }}
  DB_PASSWORD: {{ opennotificaties_db_password | b64encode }}
  RABBITMQ_DEFAULT_USER: {{ opennotificaties_rabbitmq.user | b64encode }}
  RABBITMQ_DEFAULT_PASS: {{ opennotificaties_rabbitmq.password | b64encode }}
  PUBLISH_BROKER_URL: {{ opennotificaties_publish_broker_url | b64encode }}
  CELERY_BROKER_URL: {{ opennotificaties_celery_broker_url | b64encode }}
  CELERY_RESULT_BACKEND: {{ opennotificaties_celery_result_backend | b64encode }}
{% if opennotificaties_sentry_dsn %}  SENTRY_DSN: {{ opennotificaties_sentry_dsn | b64encode }}{% endif %}
