/*
 Project/app specific overrides, coupled to the data model.

 Generic overrides should go in _admin_theme.scss
 */

/* Secondary submit row */
.submit-row {
  &.submit-row-extended {
    margin-top: -24px;
    border-top: 0;
    padding-top: 0;
  }
}

/* Radiobutton widget for Selectielijstklasse*/
#selectielijst-scroll {
  max-height: 400px;
  overflow-y: scroll;
}
