sites_config_enable: true
sites_config:
  items:
    - domain: example.com
      name: Example site

zgw_consumers_config_enable: true
zgw_consumers:
  services:
    - identifier: notifications-api
      label: Notificaties API
      api_root: http://notificaties.local/api/v1/
      api_connection_check_path: notificaties
      api_type: nrc
      auth_type: api_key
      header_key: Authorization
      header_value: Token ba9d233e95e04c4a8a661a27daffe7c9bd019067

    - identifier: selectielijst-api
      label: Selectielijst API
      api_root: https://selectielijst.local/api/v1/
      api_connection_check_path: selectielijst
      api_type: orc
      auth_type: api_key
      header_key: Authorization
      header_value: Token dRlyhrXpcJVjZ0Hvt5dGf2t0dSQctAgkmfAHvZHh

notifications_config_enable: true
notifications_config:
  notifications_api_service_identifier: notifications-api
  notification_delivery_max_retries: 1
  notification_delivery_retry_backoff: 2
  notification_delivery_retry_backoff_max: 3

openzaak_selectielijst_config_enable: true
openzaak_selectielijst_config:
  selectielijst_api_service_identifier: selectielijst-api
  allowed_years:
    - 2017
    - 2020
  default_year: 2020

vng_api_common_credentials_config_enable: true
vng_api_common_credentials:
  items:
    - identifier: user-id
      secret: super-secret

vng_api_common_applicaties_config_enable: true
vng_api_common_applicaties:
  items:
    - uuid: 78591bab-9a00-4887-849c-53b21a67782f
      client_ids:
        - user-id
      label: applicatie
      heeft_alle_autorisaties: true

oidc_db_config_enable: true
oidc_db_config_admin_auth:
  providers:
  - identifier: admin-oidc
    oidc_use_nonce: true
    oidc_nonce_size: 32
    oidc_state_size: 32
    endpoint_config:
        oidc_op_authorization_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/auth
        oidc_op_jwks_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/certs
        oidc_op_token_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/token
        oidc_op_user_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/userinfo
  items:
  - identifier: admin-oidc
    enabled: true
    oidc_rp_client_id: testid
    oidc_rp_client_secret: 7DB3KUAAizYCcmZufpHRVOcD0TOkNO3I
    oidc_rp_scopes_list:
    - openid
    - email
    - profile
    oidc_rp_sign_algo: RS256
    oidc_provider_identifier: admin-oidc
    userinfo_claims_source: id_token
    options:
      user_settings:
        claim_mappings:
          username:
            - sub
          first_name:
            - given_name
          email:
            - email
        username_case_sensitive: true
      groups_settings:
        claim_mapping:
          - groups
        sync: true
        sync_pattern: '*'
        default_groups: []
        make_users_staff: true
        superuser_group_names:
          - Registreerders
