---

# Install the necessary config maps

- name: Set up nGinx vhost config
  k8s:
    state: present
    name: nginx
    namespace: "{{ namespace }}"
    definition: "{{ lookup('template', 'nginx-config.yml.j2') | from_yaml }}"
    validate:
      fail_on_error: yes
      strict: yes
  register: openzaak_nginx_config
