{% extends "sniplates/django.html" %}
{% load sniplates %}


{% block _label %}
{% if label %}<label for="{{ id_for_label }}" class="col-sm-2 col-form-label">{{ label }}</label>{% endif %}
{% endblock %}


{% block URLInput %}
<div class="form-group row">
    {% reuse "_label" %}
    <div class="col-sm-10">
        {% reuse "input" type="url" css_classes='form-control' %}
    </div>
    {{ errors }}
</div>
{% endblock %}


{% block Select %}
<div class="form-group row">
    {% reuse "_label" %}
    <div class="col-sm-10">
        <select name="{{ html_name }}" id="{{ id }}" {{ widget.attrs|flatattrs }} class="form-control">
        {% for choice in choices %}
            {% if choice.is_group %}
            <optgroup label="{{ choice.value }}">
                {% for val, display in choice.display %}
                    {% reuse '_Select_Option' val=val value=value display=display %}
                {% endfor %}
            </optgroup>
            {% else %}
                {% reuse '_Select_Option' val=choice.value value=value display=choice.display %}
            {% endif %}
        {% endfor %}
        </select>
    </div>
    {{ errors }}
</div>
{% endblock %}
