@import "../vars";

.autorisatie-formset {
  margin-bottom: 300px; // TODO

  & &__header {
    background: $color_primary;
    margin: 0;
    padding: 8px;

    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
  }

}
