name: generate-sdks

on:
  push:
    paths:
      - "src/openzaak/components/*/openapi.yaml"
      - ".github/workflows/generate-sdks.yml"
    branches:
      - '**'
  workflow_dispatch:

jobs:
  open-api-workflow-generate-sdks:
    uses: maykinmedia/open-api-workflows/.github/workflows/generate-sdks.yml@v5
    strategy:
      matrix:
        component:
          - autorisaties
          - besluiten
          - catalogi
          - documenten
          - zaken
    with:
      schema-path: 'src/openzaak/components/${{ matrix.component }}/openapi.yaml'
